/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Utils */
.container {
  margin: 0 auto;
  display: flex;
  width: 1000px;
}

.text-container {
  margin: 0 auto;
  flex-direction: column;
}

.image-container {
  width: fit-content;
}

.item-group {
  display: flex;
}

.badge {
  border-radius: 20px;
  padding: 10px 20px;
  width: fit-content;
}

/* Header */
.top-header {
  background-color: #255ee9;
  padding: 10px 0;
}

.item-header {
  width: fit-content;
  padding: 10px;
  color: white;
}

.top-header > .container {
  background-color: #255ee9;
  justify-content: space-between;
  width: 75%;
}

/* Bottom header */
.bottom-header {
  background-image: url("../img/jumbo.png");
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh; /* Dimensione nativa dell'imagine*/
  flex-direction: column;
}

.bottom-header > .text-container {
  color: white;
  line-height: 1.8;
  text-align: center;
}

.bottom-header > .container {
  justify-content: center;
}

.bottom-header > .container > .badge {
  margin: 15px;
}

.bottom-header > .text-container > h1 {
  font-size: 3rem;
}

.bottom-header > .text-container > p {
  font-size: large;
}

/* Main */

.main-section {
  padding-bottom: 30px;
}
.main-section:first-child {
  padding: 30px 0;
}

.wave {
  width: 100%;
  height: 160px;
  background-image: url("../img/wave.svg");
  background-size: contain;
}

.main-section:nth-child(odd) {
  background-color: #f6f6f6;
}

.main-section:nth-child(odd) > .wave {
  background-color: white;
}

.main-section:nth-child(even) > .wave {
  background-color: #f6f6f6;
}

.main-section:last-child > .container {
  flex-direction: column;
  align-items: center;
}

.main-section:last-child > .container > .text-container {
  text-align: center;
  width: fit-content;
}

.main-section:last-child > .container > .image-container {
  width: 100%;
}

.main-section > .container > .text-container {
  flex: 1;
}

.main-section > .container > .text-container > h1 {
  font-size: 2.5rem;
  margin: 20px;
}
.main-section > .container > .text-container > p {
  line-height: 1.5;
  margin: 10px 0;
  font-size: 1.2rem;
}

.main-section > .container > .image-container {
  flex: 2;
}

.main-section > .container > .container {
  background-image: url("../img/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: fit-content;
  padding: 30px;
}

.main-section:last-child {
  margin-bottom: 100px;
}

/* Footer section */
.footer-section {
  background-color: rgb(29, 29, 29);
}

.item-footer {
  color: white;
  font-size: 0.9rem;
  margin: 7px 0;
  font-weight: 550;
}

.footer-section > .container {
  padding: 70px 0;
}

.footer-section > .container > .light-red {
  flex: 1.5;
  padding: 300px 0;
}

.footer-section > .container > .container > .item-group {
  flex-direction: column;
}
.footer-section > .container > .container {
  flex: 3;
  justify-content: space-between;
}

.footer-section
  > .container
  > .container
  > .item-group
  > .item-footer:first-child {
  color: #758cdb;
}

.footer-section > hr {
  width: 1000px;
  height: 1px;
  margin: 10px;
  background-color: white;
  margin: 20px auto;
}
/* 
.footer-section > .container {
  padding: 10px 0;
  justify-content: space-between;
} */
/* SPAM */

.blue {
  background-color: skyblue;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.light-red {
  background-color: lightcoral;
}

.cyan {
  background-color: cyan;
}

.brown {
  background-color: brown;
}
.blacktxt-whitebg {
  color: black;
  background-color: white;
}

.whitetxt-blackbg {
  color: white;
  background-color: black;
}

.whitetxt-bluebg {
  background-color: #758cdb;
  color: white;
}
