/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
a {
  text-decoration: none;
}

/* Utils */
.container {
  margin: 0 auto;
  display: flex;
  width: 900px;
}

.blue {
  background-color: skyblue;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.light-red {
  background-color: lightcoral;
}

.cyan {
  background-color: cyan;
}

.brown {
  background-color: brown;
}

.item-group {
  display: flex;
}

.icon {
}

/* Header */
.top-header {
  background-color: #255ee9;
  padding: 10px 0;
}

.item-header {
  width: fit-content;
  padding: 10px;
  color: white;
}

.top-header > .container {
  background-color: #255ee9;
  justify-content: space-between;
  width: 75%;
}

/* Bottom header */
.bottom-header {
  background-image: url("../img/jumbo.png");
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.bottom-header > .container {
  flex-direction: column;
  justify-content: center;
  color: white;
  line-height: 1.8;
  font-size: 15;
  text-align: center;
  padding: 30px 0;
}

.bottom-header > .container > h1 {
  font-size: 3rem;
}

/* Main */

.main-section {
  padding: 30px 0;
}

.main-section:nth-child(2n) {
  background-color: gray;
}

.item-main {
  font-weight: bold;
  border: 2px dashed black;
  width: 100%;
  padding: 250px 0;
}

.main-section > .container > .pink {
  flex: 1;
}
.main-section > .container > .blue {
  flex: 2;
}

.main-section > .container > .green {
  padding: 350px 0;
}

.main-section > .container {
  justify-content: center;
}

/* Footer section */
.footer-section {
  background-color: rgb(29, 29, 29);
}

.footer-section > .container > .item-group {
  flex: 3;
}

.item-footer {
  font-weight: bold;
  border: 2px dashed black;
}

.footer-section > .container > .light-red {
  flex: 1.5;
  padding: 300px 0;
}
.footer-section > .container > .item-group > .item-footer {
  text-align: center;
  padding: 300px 0;
}

.item-group > .item-footer {
  border: 2px dashed white;
  width: 100%;
}

.footer-section > hr {
  width: 900px;
  height: 1px;
  margin: 10px;
  background-color: white;
  margin: 20px auto;
}

.footer-section > .container {
  padding: 10px 0;
  justify-content: space-between;
}
